<!DOCTYPE html>
<html>
  <head>
    <title>EvaluatingAlternatives</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:warning] %>
      <div class="flash alert-warning" data-role="warning"><%= flash[:warning] %></div>
    <% end %>
    <% if flash[:notice] %>
      <div class="flash alert-notice" data-role="notice"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="flash alert-danger" data-role="alert"><%= flash[:alert] %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
